name: CI/CD -> EC2 Rolling Update via ASG

on:
  push:
    branches:
      - main

jobs:
  build_and_push:
    runs-on: ubuntu-latest
    outputs:
      new-image-tag: ${{ steps.tag.outputs.new_image_tag}}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
        
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2
        with:
          region: ${{ secrets.AWS_REGION }}

      - name: Determine image tag (short SHA)
        id: tag
        run: |
            NEW_TAG=$(echo ${GITHUB_SHA} | head -c7)
            echo "new_image_tag=$NEW_TAG" >> $GITHUB_OUTPUT
            echo "new_image_tag=$NEW_TAG" >> $GITHUB_ENV

      - name: Build, tag and push to ECR
        run: |
            docker build -t $ECR_REPO:$new_image_tag .
            docker push $ECR_REPO:$new_image_tag